{{^url.image}}
<p>
        <img class="img-responsive" src="/documents/1084364/1085221/utaustin-seal.png" /></p>
{{/url.image}}
{{#url.image}}
<p>
        <img alt="{{name.first}} {{name.last}}" class="img-responsive" src="{{{url.image}}}" /></p>
{{/url.image}}
