{{^image}}
<p>
        <img class="img-responsive" src="/documents/1084364/1085221/utaustin-seal.png" /></p>
{{/image}}
{{#image}}
<p>
        <img alt="{{name.first}} {{name.last}}" class="img-responsive" src="{{url.image}}" /></p>
{{/image}}
