{{! Replace the text in `#__` and `/__` with code name of the staff to render}}
{{#janie-bushn}}
<!-- DIRECTORY ROW -->
<!-- For "Staff Directory" (Full Time) table at `/about/directory` -->


{{> staff--row}}




<!-- IMAGE CONTENT -->
<!-- For "Staff Image" Web Content at `/about/directory/firstname-lastname` -->


{{> staff--img}}




<!-- BIO CONTENT -->
<!-- For "Staff Bio" Web Content at `/about/directory/firstname-lastname` -->


{{> staff--bio}}




{{/janie-bushn}}