{{#entries}}

{{! Replace the text in `#__` and `/__` with code name of the staff to render}}
{{#andrew-hardy}}

<!-- DIRECTORY ROW -->
<!-- For "Staff Directory" (Full Time) table at `/about/directory` -->

{{> row}}




<!-- IMAGE CONTENT -->
<!-- For "Staff Image" Web Content at `/about/directory/firstname-lastname` -->


{{> img}}




<!-- BIO CONTENT -->
<!-- For "Staff Bio" Web Content at `/about/directory/firstname-lastname` -->


{{> bio}}




{{/andrew-hardy}}

{{/entries}}
