<section class="sc19-content--secondary" id="sc19-conf-events">
	<h1 class="sc19-content__title">SC19 TACC Participation</h1>
	<div>
		<h2 class="sc19-content__sub-title">Someday, Month NN</h2>
		<hr class="sc19-content__sub-title-decoration" />
		<article class="sc19-event">
			<strong class="sc19-event__title"><a href="https://sc19.supercomputing.org/presentation/?id=___&amp;sess=___" target="_blank">__Event_Title__</a></strong>
			<dl class="sc19-event__data">
				<dt>Presenters</dt>
				<dd>…, …, …</dd>
				<dt>Time</dt>
				<dd>
					<time datetime="____-__-__T__:__">__:__xm</time>
					<span>-</span>
					<time datetime="____-__-__T__:__">__:__xm</time>
				</dd>
			</dl>
			<p class="sc19-event__desc">__Description__</p>
		</article>
		<article class="sc19-event">
			<strong class="sc19-event__title"><a href="https://sc19.supercomputing.org/presentation/?id=___&amp;sess=___" target="_blank">__Event_Title__</a></strong>
			<dl class="sc19-event__data">
				<dt>Presenters</dt>
				<dd>…, …, …</dd>
				<dt>Time</dt>
				<dd>
					<time datetime="____-__-__T__:__">__:__xm</time>
					<span>-</span>
					<time datetime="____-__-__T__:__">__:__xm</time>
				</dd>
			</dl>
			<p class="sc19-event__desc">__Description__</p>
		</article>
	</div>
	<div>
		<h2 class="sc19-content__sub-title">Someday, Month NN</h2>
		<hr class="sc19-content__sub-title-decoration" />
		<article class="sc19-event">
			<strong class="sc19-event__title"><a href="https://sc19.supercomputing.org/presentation/?id=___&amp;sess=___" target="_blank">__Event_Title__</a></strong>
			<dl class="sc19-event__data">
				<dt>Presenters</dt>
				<dd>…, …, …</dd>
				<dt>Time</dt>
				<dd>
					<time datetime="____-__-__T__:__">__:__xm</time>
					<span>-</span>
					<time datetime="____-__-__T__:__">__:__xm</time>
				</dd>
			</dl>
			<p class="sc19-event__desc">__Description__</p>
		</article>
	</div>
</section>