{{#entries}}

	<div class="panel panel-default">
		<div class="panel-heading" id="data" role="tab">
			<h4 class="panel-title">
				<a aria-controls="{{id}}" aria-expanded="true" class="collapsed" data-parent="data" data-toggle="collapse" href="#{{id}}" role="button">{{title}}</a></h4>
		</div>
		<div aria-labelledby="data" class="panel-collapse collapse" id="{{id}}" role="tabpanel">
			<div class="panel-body">
				{{! FAQ: Triple brackets prevent escaped HTML tags }}
				{{#description}}{{{description}}}{{/description}}
				<p>
					<strong><a href="{{{url}}}" target="_blank" title="Apply Now">Apply Now</a></strong></p>
			</div>
		</div>
	</div>

{{/entries}}