<!--open styles-->
{{> styles}}
<!--close styles-->
	<div id="sc19">
		<div class="container">
			<section class="sc19-content--primary" id="sc19-booth-events">
				<h1 class="sc19-content__title">SC19 TACC Booth Schedule</h1>
				<div class="row">
					<!--open booth-events-->
					{{> _events.booth}}
					<!--close booth-events-->
				</div>
			</section>
			<div class="row sc19-content-pair">
				<div class="col-md-8">
					<section class="sc19-content--secondary sc19-content-pair__item" id="sc19-conf-events">
						<h1 class="sc19-content__title">SC19 TACC Participation</h1>
						<!--open conf-events-->
						{{> _events.conf}}
						<!--close conf-events-->
					</section>
				</div>
				<div class="col-md-4">
					<section class="sc19-content--secondary sc19-content-pair__item" id="sc19-social_media">
						<!--open social-media-->
						{{> social-media}}
						<!--close social-media-->
					</section>
				</div>
			</div>
		</div>
	</div>
