{{#days}}
	{{#is_column}}
	<div class="col-md-6">
	{{/is_column}}
	{{^is_column}}
	<div>
	{{/is_column}}
		<h2 class="sc19-content__sub-title">
			<time datetime="{{date-iso}}">{{date}}</time>
		</h2>
		<hr class="sc19-content__sub-title-decoration" />
	{{#events}}
		<article class="sc19-event">
			<strong class="sc19-event__title">
			{{#url}}
				<a href="{{url}}" target="_blank">{{title}}</a>
			{{/url}}
			{{^url}}
				{{title}}
			{{/url}}
			</strong>
			<dl class="sc19-event__data">
				{{#leader}}
				<dt>{{leader.type}}</dt>
					<dd>{{leader.name}}</dd>
				{{/leader}}
				{{#speakers}}
				<dt>{{speakers.type}}</dt>
					<dd><ul>
					{{#speakers.names}}
						<li>{{.}}</li>
					{{/speakers.names}}
					</ul></dd>
				{{/speakers}}
				{{#duration}}
				<dt>Length</dt>
					<dd>
						<time datetime="{{duration-iso}}">{{duration}}</time>
					</dd>
				{{/duration}}
				<dt>Time</dt>
					<dd>
						<time datetime="{{date-iso}}T{{time_start-iso}}–06">{{time_start}}</time>
						<span>-</span>
						<time datetime="{{date-iso}}T{{time_end-iso}}–06">{{time_end}}</time>
					</dd>
				{{#warning}}
				<!-- !!!: Temporary content -->
				<blockquote style="border-width: 20px 0; border-style: solid; border-color: #0e0520; margin-bottom: 0">
					<p><strong>Notice:</strong> {{warning}}</p>
				</blockquote>
				{{/warning}}
			</dl>
			<p class="sc19-event__desc">{{description}}</p>
		</article>
	{{/events}}
	</div>
{{/days}}
