{{#days}}
	{{#is_column}}
	<div class="col-md-6">
	{{/is_column}}
	{{^is_column}}
	<div>
	{{/is_column}}
		<h2 class="sc19-content__sub-title">
			<time datetime="{{date-iso}}">{{date}}</time>
		</h2>
		<hr class="sc19-content__sub-title-decoration" />
	{{#events}}
		<article class="sc19-event sc19-read-more--solution-1">
			<strong class="sc19-event__title">
			{{#url}}
				<a href="{{url}}" target="_blank">{{title}}</a>
			{{/url}}
			{{^url}}
				{{title}}
			{{/url}}
			</strong>
			<dl class="sc19-event__data">
				{{#leader}}
				<dt>{{leader.type}}</dt>
					<dd>{{leader.name}}</dd>
				{{/leader}}
				{{#speakers}}
				<dt>{{speakers.type}}</dt>
					<dd><ul>
					{{#speakers.names}}
						<li>{{.}}</li>
					{{/speakers.names}}
					</ul></dd>
				{{/speakers}}
				{{#duration}}
				<dt>Length</dt>
					<dd>
						<time datetime="{{duration-iso}}">{{duration}}</time>
					</dd>
				{{/duration}}
				<dt>Time</dt>
					<dd>
						<time datetime="{{date-iso}}T{{time_start-iso}}">{{time_start}}</time><span>–</span><time datetime="{{date-iso}}T{{time_end-iso}}">{{time_end}}</time>
					</dd>
				{{#warning}}
				<!-- !!!: Temporary content -->
				<blockquote style="border-width: 20px 0; border-style: solid; border-color: #0e0520; margin-bottom: 0">
					<p><strong>Notice:</strong> {{warning}}</p>
				</blockquote>
				{{/warning}}
			</dl>
			{{#description}}
			<!-- WARN: Titles may have characters prohibitted in `id` attribute -->
			<input class="sc19-read-more__state" id="{{title}}" type="checkbox" />
			<p class="sc19-event__desc sc19-read-more__target">{{description}}</p>
			<label class="sc19-read-more__toggle" for="{{title}}">
				<span class="sc19-read-more__on-text">Read more</span>
				<span class="sc19-read-more__off-text">Show less</span>
			</label>
			{{/description}}
		</article>
	{{/events}}
	</div>
{{/days}}
