<!-- !!!: Temporary content -->
<blockquote class="sc19-content" id="sc19-social_media__noitce" style="border-width: 20px 0; border-style: solid; border-color: #0e0520; margin-bottom: 1em;">
    <p>
        <strong>Notice:</strong> Twitter feed URL is missing value for <code>ref_src</code> parameter. Cannot find documentation. When/if Twitter is used, then replace URL with that provided by Public Relations and remove this notice.</p>
</blockquote>

<h1 class="sc19-content__title">
    Connect with TACC</h1>
<article class="sc19-media">
    <h2 class="sc19-content__sub-title sc19-media__title">
        Twitter Feed</h2>
    <a class="twitter-timeline" data-chrome="nofooter noheader" data-tweet-limit="2" href="https://twitter.com/TACC?ref_src=___">Tweets by TACC</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</article>
<article class="sc19-media">
    <h2 class="sc19-content__sub-title sc19-media__title" style="margin:30px 0px 15px 0px;">
        Featured Video</h2>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_____"></iframe></div>
</article>