<div class="s-template--directory">

    <!-- Core Information -->
    <div class="row contact-row">
        <div class="col-xs-7">
            <h1>
                {{name.first}} {{name.last}}</h1>
            <h3>
                {{title}}</h3>
            <p class="italic">
                {{group}}</p>
        </div>
        <div class="col-xs-5 contact-col">
            <h4 class="align-rt">
                {{phone}}<br />
                <a href="mailto:{{email}}">{{email}}</a></h4>
        </div>
    </div>
    <hr class="blueline" />

    {{#biography}}
    <!-- Biography Section -->
    {{! FAQ: The triple brackets prevent escaping of HTML tags }}
    {{{biography}}}
    {{/biography}}

    {{#info-rows}}
    <!-- Additional Information -->

    <hr class="blueline" />

    <div class="row">
        {{#info-cols}}
        <div class="col-md-{{layout.colspan}}">
            {{! Section: Bulleted List }}
            {{#show-custom_list--unordered}}
            {{#custom_heading}}<h2>{{custom_heading}}</h2>{{/custom_heading}}
            <ul>
                {{#custom_list--unordered}}
                <li>{{.}}</li>
                {{/custom_list--unordered}}
            </ul>
            {{/show-custom_list--unordered}}
            {{! Section: Definition List }}
            {{#show-custom_list--definition}}
            {{#custom_heading}}<h2>{{custom_heading}}</h2>{{/custom_heading}}
            <dl>
                {{#custom_list--definition}}
                <dt>{{term}}</dt>
                <dd>{{definition}}</dd>
                {{/custom_list--definition}}
            </dl>
            {{/show-custom_list--definition}}
            {{! Section: Paragraph List }}
            {{#show-custom_list--paragraph}}
            {{#custom_heading}}<h2>{{custom_heading}}</h2>{{/custom_heading}}
            {{#custom_list--paragraph}}
            <p>{{.}}</p>
            {{/custom_list--paragraph}}
            {{/show-custom_list--paragraph}}
            {{! Section: Education }}
            {{#show-education}}
            {{^custom_heading}}<h2>Education</h2>{{/custom_heading}}
            {{#education}}

                <h4>{{#degree}}{{degree}}{{/degree}}{{^degree}}&mdash;{{/degree}}</h4>
                {{#school}}<p>{{school}}{{#year}}, {{year}}{{/year}}</p>{{/school}}
            {{/education}}
            {{/show-education}}
            {{! Section: Publications }}
            {{#show-publications}}
            {{^custom_heading}}<h2>Selected Publications</h2>{{/custom_heading}}
            {{#publications}}
                {{^sections}}
                <p>{{{.}}}</p>
                {{/sections}}
                {{#sections}}
                    {{#custom_heading}}<h3>{{custom_heading}}</h3>{{/custom_heading}}
                    {{#items}}
                    <p>{{{.}}}</p>
                    {{/items}}
                {{/sections}}
            {{/publications}}
            {{/show-publications}}
            {{! Section: Areas of Research }}
            {{#show-research}}
            {{^custom_heading}}<h2>Areas of Research</h2>{{/custom_heading}}
            <ul>
                {{#research}}
                <li>{{.}}</li>
                {{/research}}
            </ul>
            {{/show-research}}
            {{! Section: Current Projects }}
            {{#show-projects}}
            {{^custom_heading}}<h2>Current Projects</h2>{{/custom_heading}}
            <ul>
                {{#projects}}
                <li>{{.}}</li>
                {{/projects}}
            </ul>
            {{/show-projects}}
            {{! Section: Organization Membership/Professional Affiliations }}
            {{#show-organizations}}
            {{^custom_heading}}<h2>Organization Membership/Professional Affiliations</h2>{{/custom_heading}}
            <ul>
                {{#organizations}}
                <li>{{.}}</li>
                {{/organizations}}
            </ul>
            {{/show-organizations}}
            {{! Section: Experience }}
            {{#show-experience}}
            {{^custom_heading}}<h2>Professional Experience</h2>{{/custom_heading}}
            {{#experience}}

                {{#date_range}}<h3>{{date_range}}</h3>{{/date_range}}
                {{#institution}}<span class="bold">{{institution}}</span>{{/institution}}
                {{#role}}<p>{{role}}</p>{{/role}}
            {{/experience}}
            {{/show-experience}}
        </div>
        {{/info-cols}}
    </div>
    {{/info-rows}}

</div>
