        <tr>
            <td>
                <a href="/web/website/about/directory/{{name.code}}">{{name.last}}, {{name.first}}</a></td>
            <td>
                <a href="mailto:{{email}}">{{email}}</a></td>
            <td>
                {{group}}</td>
        </tr>
